
:root {
    --ui-color-marca: #257B18;
  
    --ui-color-n-000: #D8F7EE;
    --ui-color-n-050: #80E1C4;
    --ui-color-n-100: #257B18;
    --ui-color-n-300: #D8F7EE;
    --ui-color-n-500: #257B18;
    --ui-color-n-700: #fff;
    --ui-color-n-900: #257B18;
    
    --ui-color-background-primario  : var(--ui-color-n-000);
    --ui-color-background-secondario: var(--ui-color-n-050);
    --ui-color-background-terciario : var(--ui-color-n-100);
  
    --ui-color-borde: var(--ui-color-n-100);
  
    --ui-color-typography-heading: var(--ui-color-n-500);
    --ui-color-typography-body   : var(--ui-color-n-900);
    --ui-color-typography-note   : var(--ui-color-n-300);
    --ui-color-tipografia-boton : var(--ui-color-n-000);
  
    --ui-typography-typeface: "Inter", sans-serif;
  
    --ui-typography-h1: 1.9375rem;
    --ui-typography-h2: 1.5625rem;
    --ui-typography-h3: 1.25rem;
    --ui-typography-p : 1rem;
    --ui-typography-s : .8125rem;
  
    --ui-typography-h1-leading: 1.2;
    --ui-typography-h2-leading: 1.2;
    --ui-typography-p-leading : 1.5;
  
    --ui-typography-margin-heading: .75rem;
    --ui-typography-margin-body   : 1.125rem;
    
    --ui-layout-container: 1.25rem;
    --ui-layout-grid     : 3.625rem;
    --ui-layout-gutter   : 1rem;
    
    --ui-gap-header     : 1rem;
    --ui-gap-cta        : .75rem;
    --ui-gap-hero       : 2rem;
    --ui-gap-customer   : 2rem;
    --ui-gap-feature    : 2rem;
    --ui-gap-card       : 1.25rem;
    --ui-gap-pricing    : 2rem;
    --ui-gap-testimonial: 3rem;
    
    --ui-radius-avatar: 5rem;
    --ui-radius-button: 0.5rem;
    --ui-radius-card  : .5rem;
  
  }
  
  html { 
    box-sizing: border-box; 
  }
  
  *,
  *:before,
  *:after { 
    box-sizing: inherit; 
  }

  main {
    padding-top: 5.5rem;
  }
  
  body {
    background: #abedd9;;
    color: var(--ui-color-typography-body);
    font-family: var(--ui-typography-typeface);
    font-feature-settings: "liga", "kern";
    font-size: var(--ui-typography-p);
    font-weight: 400;
    line-height: var(--ui-typography-p-leading);
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    padding: 0;
  }
  
  a {
    color: var(--ui-color-marca);
    text-decoration-color: var(--ui-color-typography-note);
  }
  
  h1, h2, p, ul { 
    margin-top: 0; 
        padding-top: 0;
  }
  
  h1, h2 {
    color: var(--ui-color-typography-heading);
    margin-bottom: var(--ui-typography-margin-heading);
  }
  
  h1 {
    font-size: var(--ui-typography-h1);
    line-height: var(--ui-typography-h1-leading);
  }
  
  h2 {
    font-size: var(--ui-typography-h2);
    line-height: var(--ui-typography-h2-leading);
  }
  
  p, ul { 
    margin-bottom: var(--ui-typography-margin-body); 
  }
  
  p:last-child, ul:last-child { 
    margin-bottom: 0; 
  }
  
  ul { 
    padding-left: 0; 
  }
  
  strong { 
    font-weight: 700; 
  }
  
  small { 
    font-size: var(--ui-typography-s); 
  }
  
  .ui-text-note {
    color: #15450e;
    line-height: 1;
  }
  
  img, svg {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 25rem;
  }

  .ui-layout-container {
    padding-left: var(--ui-layout-container);
    padding-right: var(--ui-layout-container);
  }
  
  .ui-layout-flex, .ui-layout-grid {
    align-items: center;
    justify-content: center;
  }
  
  .ui-layout-flex { 
    display: flex; 
  }
  
  .ui-layout-grid { 
    display: grid; 
  }
  
  .ui-component-cta {
    flex-direction: column;
    row-gap: var(--ui-gap-cta);
    margin-bottom: 1rem;
  }
  
  .ui-component-button {
    border: .0625rem solid var(--ui-color-marca);
    border-radius: var(--ui-radius-button);
    display: block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
  }
  
  .ui-component-button-primary {
    background-color: var(--ui-color-marca);
    color: var(--ui-color-tipografia-boton);
  }

  .ui-component-button-primary:hover {
    background-color: #216b15;
    color: var(--ui-color-tipografia-boton);
  }
  
  .ui-component-button-secondary {
    background-color: var(--ui-color-background-primario);
    color: var(--ui-color-marca);
  }
  
  .ui-component-button-secondary:hover {
    background-color: var(--ui-color-marca);
    color: var(--ui-color-tipografia-boton);
  }

  .ui-component-button-big, .ui-component-button-normal { 
    padding: .75rem 1rem .875rem; 
  }
  
  .ui-component-button-big { 
    width: 100%; 
  }
  
  .ui-component-button-normal { 
    width: fit-content; 
  }
  
  input[name="toggle"] { 
    display: none; 
  }
  
  .ui-component-toggle {
    background-color: var(--ui-color-background-terciario);
    border-radius: var(--ui-radius-button);
    color: var(--ui-color-typography-note);
    font-size: var(--ui-typography-s);
    font-weight: 700;
    line-height: 1;
    margin: var(--ui-gap-pricing) auto .5rem;
    padding: .25rem;
    width: max-content;
  }
  
  .ui-component-toggle--label {
    border-radius: var(--ui-radius-button);
    cursor: pointer;
    padding: .5rem .625rem;
  }
  
  #ui-component-toggle__monthly:checked ~
  div label[for=ui-component-toggle__monthly],
  #ui-component-toggle__yearly:checked ~
  div label[for=ui-component-toggle__yearly] {
    background: var(--ui-color-background-primario);
    color: var(--ui-color-typography-body);
  }
  
  .ui-component-card {
    border: .0625rem solid var(--ui-color-borde);
    border-radius: var(--ui-radius-card);
    overflow: hidden;
    width: 100%;
  }
  
  .ui-component-list {
    grid-template-columns: 1fr;
    row-gap: .75rem;
  }
  
  .ui-component-list--item {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.125rem;
    list-style: none;
    padding-left: 1.875rem;
  }
  
  .ui-component-list--item-check {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
  }
  
  .ui-component-list--item-cross {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/cross.svg);
  }
  
  .ui-section-header {
    background-color: #2aaf87;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  
  .ui-section-header__layout { 
    justify-content: space-between; 
  }
  
  .ui-section-header--logo { 
    z-index: 1; 
  }
  
  #ui-section-header--menu-id { 
    display: none; 
  }
  
  .ui-section-header--menu-icon {
    cursor: pointer;
    display: block;
    height: 1.125rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    position: relative;
    width: 1.125rem;
    z-index: 1;
  }
  
  .ui-section-header--menu-icon::before, .ui-section-header--menu-icon::after {
    background: var(--ui-color-marca);
    content: "";
    height: .125rem;
    left: 0;
    position: absolute;
    transition: all 250ms cubic-bezier(.785, .135, .15, .86);
    width: 1.125rem;
  }
  
  .ui-section-header--menu-icon::before {
     top: .3125rem; 
    }
  
  .ui-section-header--menu-icon::after { 
    top: .6875rem;
 }

 .iframenew {
  width: 28rem;
  height: 18rem;
 }
  
  #ui-section-header--menu-id:checked ~
  .ui-section-header--menu-icon::before {
    transform: translateY(3px) rotate(135deg);
  }
  
  #ui-section-header--menu-id:checked ~
  .ui-section-header--menu-icon::after {
    transform: translateY(-3px) rotate(45deg);
  }
  
  .ui-section-header--nav {
    background-color: var(--ui-color-background-primario); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);
    flex-direction: column;
    gap: var(--ui-gap-header);
    left: 0;
    opacity: 0;
    padding: 7.375rem 9rem 5rem;
    position: absolute;
    right: 0;
    top: -1rem;
    transition: all 250ms cubic-bezier(.785, .135, .15, .86);
    visibility: hidden;
  }
  
  #ui-section-header--menu-id:checked ~
  .ui-section-header--nav {
    opacity: 1;
    top: 0;
    visibility: visible;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .ui-section-header--nav-link {
    margin: 0 !important;
    padding: 0.5rem 0 0 0 !important;
    font-size: var(--ui-typography-h3);

    padding-top: 0;
    text-decoration: none;
  }
  
  .ui-section-hero {
    padding-bottom: 5rem;
    text-align: center;
  }
  
  .ui-section-hero__layout { 
    row-gap: var(--ui-gap-hero); 
}
  
  .ui-section-customer__layout {
    flex-direction: column;
    row-gap: var(--ui-gap-customer);
  }
  
  .ui-section-customer--logo {
    height: 1.5rem;
    width: auto;
  }
  
  .ui-section-customer--logo-str { 
    height: 1.75rem; 
}
    
  .ui-section-customer--logo-bhn { 
    height: 1.375rem; 
}
  
  .ui-section-feature {
    padding-bottom: 5rem;
    padding-top: 0.5rem;
  }
  
  .ui-section-feature__layout { 
    row-gap: var(--ui-gap-feature); 
}
  
  .ui-section-feature__layout:first-of-type div {
    grid-row-start: 1;
  }
  
  .ui-section-feature__layout:last-of-type {
     margin-top: 5rem; 
    }
  
  .ui-section-pricing {
    background-color: var(--ui-color-background-secondario);
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
  }
  
  .ui-section-pricing__layout {
    justify-content: initial;
    margin-bottom: var(--ui-gap-pricing);
    margin-top: var(--ui-gap-pricing);
    row-gap: var(--ui-gap-card);
  }
  
  .ui-component-card--pricing {
    background-color: var(--ui-color-background-primario);
    padding: 1.5rem 1.5rem 1.75rem;
    text-align: left;
  }
  
  .ui-component-card--pricing-price {
    line-height: 1;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
  
  .ui-component-heckedcard--pricing-amount {
    font-size: var(--ui-typography-h1);
    font-weight: 700;
  }
  
  .ui-component-card--pricing-amount-1::before { content: "S/.20"; }
  
  #ui-component-toggle__yearly:checked ~ div
  .ui-component-card--pricing-amount-1::before { content: "S/.15"; }
  
  .ui-component-card--pricing-amount-2::before { content: "S/.60"; }
  
  #ui-component-toggle__yearly:checked ~ div
  .ui-component-card--pricing-amount-2::before { content: "S/.45"; }
  ui-layout-gridui-section-testimonial
  .ui-component-card--pricing-amount-3::before { content: "S/.120"; }
  
  #ui-component-toggle__yearly:checked ~ div
  .ui-component-card--pricing-amount-3::before { content: "S/.100"; }
  
  .ui-component-list--pricing {
    margin-bottom: 1.5rem;
    margin-top: 1.25rem;
  }
  
  .ui-section-testimonial {
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
  }
  
  .ui-section-testimonial__layout {
    row-gap: var(--ui-gap-testimonial);
  }
  
  .ui-section-testimonial--avatar {
    border-radius: var(--ui-radius-avatar);
    height: 7rem;
    width: 7rem;
  }

  .ui-section-testimonial--download {
    height: 5rem;
    width: 13rem;
    display: flex;
    margin-left: 22rem;
    margin-right: auto;
 
  }
  
  .ui-section-testimonial--quote {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .ui-section-testimonial--author { line-height: 1.25; }
  
  .ui-section-close {
    background-color: #abedd9;
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
  }
  
  .ui-section-footer {
    background-color: #2aaf87;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
  
  .ui-section-footer__layout {
    column-gap: var(--ui-layout-gutter);
  }
  
  .ui-section-footer--copyright {
    color:#FFF;
    margin-bottom: 0;
    margin-right: auto;
  }

  .ui-section-footer--text {
    color:#FFF;
    margin-bottom: 0;
    margin-right: auto;
  }
  
  @media screen and (min-width: 48rem) {
  
    :root {
  
      --ui-typography-h1: 2.1875rem;
      --ui-typography-h2: 1.75rem;
      --ui-typography-p : 1rem;
      --ui-typography-s : .875rem;
  
      --ui-typography-margin-body: 1.25rem;
  
      --ui-layout-container: 4.25rem;
      --ui-layout-gutter   : 1.5rem;
  
      --ui-gap-header: 1.5rem;
      --ui-gap-card  : 1.5rem;
  
    }
  
    .ui-image-half-left {
      padding-right: var(--ui-layout-gutter);
    }
  
    .ui-image-half-right {
      padding-left: var(--ui-layout-gutter);
    }
  
    .ui-layout-container,
    .ui-layout-column-center {
      margin-left: auto;
      margin-right: auto;
    }
  
    .ui-layout-grid-2,
    .ui-layout-grid-3 {
      column-gap: var(--ui-layout-gutter);
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
  
    .ui-layout-grid-3 div:nth-of-type(3) {
      left: calc(50% + (var(--ui-layout-gutter) / 2));
      position: relative;
    }
  
    .ui-layout-column-4 {
      margin-top: 7rem;
      width: calc((var(--ui-layout-grid) * 4) +
             (var(--ui-layout-gutter) * 3));
    }
  
    .ui-component-list--item {
      background-size: 1.25rem;
      padding-left: 2rem;
    }
  
    .ui-section-header {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  
    .ui-section-header--menu-icon { display: none; }
  
    .ui-section-header--nav {
      background-color: transparent;
      box-shadow: none;
      flex-direction: row;
      opacity: 1;
      padding: 0;
      position: static;
      visibility: visible;
    }
    
    .ui-section-header--nav-link {
      color: #fff;
      font-size: var(--ui-typography-p);
      padding: 0;
    }
  
    .color {
      background-color: #80E1C4;
    }
  
    .ui-section-hero { text-align: left; }
  
    .ui-section-hero .ui-component-cta { align-items: start; }
  
    .ui-section-customer__layout {
      column-gap: var(--ui-gap-customer);
      flex-direction: row;
    }
    
    .ui-section-customer--logo {
      margin-left: 0;
      margin-right: 0;
    }
  
    .ui-section-feature__layout:first-of-type div {
      grid-row-start: initial;
    }
  
    .ui-component-card--pricing { padding: 2rem 2rem 2.25rem; }
  
    .ui-section-footer {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    .img-responsive {
      width: 18rem;
    }
  }
  
  @media screen and (max-width: 48rem) {
  
  .logo{
    width: 120px;
    }

  .rukkhadevata {
    visibility: hidden;
    }
  .img-responsive{
    width: 16rem;
  }

  .color {
    background-color: #80E1C4;
  }
  main {
    padding-top: 2rem;
  }
  }
  
  @media screen and (min-width: 64rem) {

    :root {
  
      --ui-layout-container: 0;
    
    }
    
    .ui-layout-container { width: 60rem; }
  
    .ui-layout-grid-3 { grid-template-columns: repeat(3, 1fr); }
  
    .ui-layout-grid-3 div:nth-of-type(3) { position: static; }
  
    .ui-section-hero .ui-component-cta {
      align-items: center;
      column-gap: var(--ui-gap-cta);
      flex-direction: row;
      justify-content: start;
    }
    
  }
  
  @media screen and (min-width: 75rem) {
  
    :root {
  
      --ui-typography-h1: 2.75rem;
      --ui-typography-h2: 2.1875rem;
      --ui-typography-h4: 1.4375rem;
  
      --ui-typography-margin-heading: 1rem;
      --ui-typography-margin-body   : 1.75rem;
  
      --ui-layout-grid  : 4rem;
      --ui-layout-gutter: 2rem;
  
      --ui-gap-header  : 2rem;
      --ui-gap-customer: 4rem;
      --ui-gap-card    : 2rem;
      --ui-gap-pricing : 3rem;
      
    }
  
    .ui-text-intro { font-size: var(--ui-typography-h4); }
    
    .ui-layout-container { width: 70rem; }
  
    .ui-component-button-big,
    .ui-component-button-normal {
      padding-bottom: 1.125rem;
      padding-top: 1rem;
    }
  
    .ui-section-header { padding-top: 0.5rem; }
  
    .ui-section-hero {
      padding-bottom: 7.5rem;
    }
  
    .ui-section-customer--logo { height: 2rem; }
    
    .ui-section-customer--logo-str { height: 2.25rem; }
    
    .ui-section-customer--logo-bhn { height: 1.75rem; }
  
    .ui-section-feature {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
  
    .ui-section-feature__layout:last-of-type {
      margin-top: 1.5rem;
    }
  
    .ui-component-list-feature {
      column-gap: var(--ui-layout-gutter);
      grid-template-columns: repeat(2, 1fr);
    }
  
    .ui-section-pricing {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
  
    .ui-component-card--pricing { padding: 3rem; }
  
    .ui-section-testimonial {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
  
    .ui-section-close {
      padding-bottom: 7.5rem;
      padding-top: 7.5rem;
    }
    
  
    .ui-section-footer {
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }

  /*Logo*/

  .logo{
    width: 4.5rem;
  }


  /*Hero section modificada*/
  .ui-section-hero__video {
    position: relative;
    min-height: 50rem;
    max-height: 20rem;
    overflow: hidden;
    width: auto;
    display: block;
  }

  .ui-section-hero__video .ui-section-hero__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,255,87,0.11528361344537819) 0%, rgba(22,255,0,0.07326680672268904) 99%);
  }

  @media screen and (max-width: 48rem){
    .video{
      margin-top: 3rem;
    }
  }

  .ui-section-header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ui-section-header--logo-label{
    color: var(--ui-color-n-700);
    font-size: 1.8rem;
  }

  .ui-section-hero--border{
    
    border-radius: 33% 67% 93% 7% / 13% 58% 42% 87% ;
    background: rgb(2,0,36);
    background: linear-gradient(8deg, rgba(2,0,36,0.19371498599439774) 3%, rgba(22,255,0,0.2945553221288515) 91%);
  }

  .ui-section-hero--label{
    color: var(--ui-color-n-700);
    font-weight: bold;
  }

  .ui-section-hero{
    padding-bottom: 0rem;
  }

  .ui-section-hero .ui-component-cta{
    flex-direction: column;
    align-items: start;
  }

  @media screen and (max-width: 48rem) {
    .ui-section-hero .ui-component-cta{
      align-items: center;
    }
  }

  /*About us*/

  .ui-section-about{
    padding-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
  }

  /*Utility*/
  .padding{
    padding: 5rem 0;
  }

  .padding img, svg{
    max-width: 20rem;
  }